<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> test-inapp-webrtc </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item class="ion-no-lines">
    <ion-label position="floating">URL da Videochamada</ion-label>
    <ion-input type="text" #inputURL></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="openVideocall(inputURL.value)">
          OPEN VIDEOCALL (InAppBrowser)
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="block" (click)="url = inputURL.value">
          OPEN VIDEOCALL (iFrame)
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-container *ngIf="url">
    <iframe [src]="sanitizeURL(url)"></iframe>
  </ng-container>
</ion-content>
